.nav-pills .nav-link.active,
.nav-pills .show>.nav-link .titulo {
  background-color: rgb(0, 86, 179);/* Change the background color for selected buttons */
  color: white; /* Change the text color for selected buttons */
}

.azulMarino{
  background-color: rgb(0, 86, 179);/* Change the background color for selected buttons */
  color: white; /* Change the text color for selected buttons */
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-flag {
  max-width: 100px;
}

.team-name {
  text-align: center;
  margin-top: 5px;
}

.match-info {
  text-align: center;
}

.prediction-button {
  text-align: center;
    font-size: 12px;
}

.team-flag {
  max-width: 100%; 
  height: auto; 
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Color de fondo */
  color: white; /* Color del texto */
  text-align: center;
  padding: 10px; /* Espaciado interno */
}

.footer-btn {
  width: 100px;
  font-size: 14px;
  padding: 5px 10px;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}


@media (max-width: 468px) {
  
  .titulo{
    font-size: medium;
  }

  .team-name{
    font-size: 10px;
    text-align: center;
    margin-top: 0px;
  }

  .resultado {
    margin: 0;
    padding: 0;
    font-size: 11px; 
  }

  .team-flag {
    max-width: 50%; 
  }

    .btn-group button {
    font-size: 10px; 
    margin: 5px; 
  }


  .fecha{
    font-size: 8px; 
  }

  .prediction-button{
    font-size: 8px; 
    padding: 5px 5px;
  }

  .footer-btn {
    width: 50px;
    font-size: 8px; 
    padding: 5px 5px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

}


